.notfoundContainer {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-linkedin:hover {
    color: #0073B0;
}

.nav-strava:hover {
    color: #FC4C02;
}

.nav-email:hover {
    color: #FDE26C;
}

.nav-github:hover {
    color: #800080;
}

.nav-cv:hover {
    color: #DC3526;
}